@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
main {
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgb(0, 0, 0)), url('../imagens/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
/* ====== Hero Section ====== */
.hero-section {
    width: 100%;
}
.hero-section .menu {
    width: 60px;  
}
.hero-section .menu-logo {
    width: 120px;
}

#socials a:hover {
    transform: translate(-3px, -3px);
    transition: transform .5s;
}
.hero-section h1 {
    padding-top: 40px;
    text-align: center;
    font-family: "Text Me One", sans-serif;
    font-size: 1.5em;
    color: #de5f26;
    
}
.action-button {
    text-align: center;
    padding-top: 80px;
    font-size: 1.5em;
}
#button {
    display: inline-block;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    margin: 15px;
    background-color: #0d1e3769;
    text-align: center;
    color: #de5f26;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Text Me One", sans-serif;
}
#button:hover {
  transform: scale(1.1);
}
#socials {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 20px;   
}
#socials a > img {
    width: 50px;
    padding: 10px;
    
}
/* ====== Hero Section ====== */

/* ====== About Section ====== */
#about {
    text-align: center;
    padding: 30px;
}
#about h2 {
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Text Me One", sans-serif;
    color: #de5f26;
}
#about p {
    color: white;
    font-family: "Text Me One", sans-serif;
    font-size: 1.5em;
    padding: 10px;
}
/* ====== About Section ====== */

/* ====== Services Section ====== */
#services h1 {
    text-align: center;
    font-family: "Text Me One", sans-serif;
    color: #de5f26;
    padding-bottom: 10px;
}
#services p {
    text-align: center;
    font-family: "Text Me One", sans-serif;
    padding-bottom: 5px;
    color: white;

}
.menu-pet {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
    text-align: center;
}
.sub-menu-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.sub-menu-pet h3 {
    text-align: center;
    font-family: "Text Me One", sans-serif;
    color: #de5f26;
    padding: 10px;
}
.sub-menu-pet img {
  max-width: 200px;
  padding: 15px;
  gap: 30px;
  border-radius: 25px;
}
.sub-menu-pet p {
    color: white;

}
/* ====== Services Section ====== */

/* ====== Choose-Us Section ====== */
#choose-us-child h1 {
    padding: 20px;
    color: #de5f26;
}
#choose-us-child li {
    padding-bottom: 20px;
}
#choose-us-child {
    color: white;
    font-family: "Text Me One", sans-serif;
    text-align: center;
}
/* ====== Choose-Us Section ====== */

/* ====== Testimony Section ====== */
#testimony h1 {
    color: #de5f26;
    font-family: "Text Me One", sans-serif;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
#testimony-main {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 50px;
    
}
#testimony-child p {
    color: white;
    padding: 10px;
    text-align: center;
    max-width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
#testimony-child  img {
    width: 200px;
    border-radius: 100px;
    padding: 10px;
    
}
#testimony-child aside {
    color: #de5f26;
    font-family: "Text Me One", sans-serif;
    padding: 10px;
    
}
/* ====== Testimony Section ====== */

/* ====== Contact Section ====== */
#contact-child {
    font-family: "Text Me One", sans-serif;
    padding: 30px;
    text-align: right;
    
}
#contact-child h1 {
    font-family: "Text Me One", sans-serif;
    color: #de5f26;
}
#contact-child p {
    font-family: "Text Me One", sans-serif;
    color: white;
}
#contact-child a {
    font-family: "Text Me One", sans-serif;
    color: white;
    text-decoration: none;
}
#contact-child a:hover {
    font-family: "Text Me One", sans-serif;
    color: #de5f26;
    text-decoration: underline;
}
/* ====== Contact Section ====== */

/* ====== Footer Section ====== */
footer {
    text-align: center;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    font-family: "Text Me One", sans-serif;
}
footer a {
    text-decoration: none;
    color: white;

}
footer a:hover {
    text-decoration: underline;
    color: #de5f26;
    
}
/* ====== Footer Section ====== */

/* ====== Media Queries ====== */

@media (orientation: portrait) {

    main {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgb(0, 0, 0)), url('../imagens/background-portrait.jpg');
        background-position: center center;
        background-size: cover;
    }
    
}